@import "tailwindcss";
@import "shaka-player/dist/controls.css";
@layer components {
  .btn {
    @apply bg-gradient-to-r from-blue-700 shadow-xl  to-cyan-500 text-white font-medium  py-2 px-3 hover:opacity-75 duration-300 rounded-md;
  }
}
* {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: hsl(262.1 83.3% 57.8%);

  /* For Chrome, Edge, and Safari */
}
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background-color: white;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(262.1 83.3% 57.8%);
  border-radius: 2px;
}
